* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* --------------------------- TESTIMONIAL Section - hoangnam------------------------------ */

  .hoangnam-testimonial-customers .testimonial-content  {
    margin: 5%;
  }
  .hoangnam-testimonial-customers .testimonial-content img {
    width: 100%;
    margin-bottom: 10px;
    height: 400px;
    border-radius: 5%;
  }
  .hoangnam-testimonial-customers .testimoial-right .about-author p {
    color: #717171;
    margin-bottom: 20px;
  }
  .hoangnam-testimonial-customers .testimoial-right .about-author h4 {
    color: #4caf4f;
  }
  .hoangnam-testimonial-customers .testimoial-right .testimoial-logo {
    display: flex;
    flex-wrap: wrap;
  }
  .hoangnam-testimonial-customers .testimoial-right .testimoial-logo .testimoial-icon {
    margin: 3% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hoangnam-testimonial-customers .testimoial-right .testimoial-logo a {
    text-decoration: none;
    color: #4caf4f;
    font-weight: 600;
  }
  /* Community update */
  .hoangnam-communityUpdate .communityUpdate-content {
    margin-top: 10%;
  }
  .hoangnam-communityUpdate .communityUpdate-content .content-text {
    text-align: center;
  }
  .hoangnam-communityUpdate .communityUpdate-content .content-text p {
    font-size: 12px;
  }
  .hoangnam-communityUpdate .communityUpdate-content .content-image .card img {
    width: 75%;
    border-radius: 5%;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-image .card {
    margin-bottom: 5%;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card
    .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f5f7fa;
    padding: 20px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .hoangnam-communityUpdate .communityUpdate-content .content-image .card h3 {
    margin: 0;
    font-size: 18px;
  }
  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card
    .readmore {
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card:hover
    img {
    transform: scale(1.05);
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card:hover
    .card-content {
    opacity: 1;
    visibility: visible;
    color: #717171;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-image .card {
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card:hover {
    transform: translateY(-10px);
  }


/* Tablet: width between 768px and 1023px */

  .hoangnam-testimonial-customers {
    margin-top: 50px;
  }
  .hoangnam-testimonial-customers .testimonial-content {
    display: flex;
    justify-content: space-around;
    background-color: #f5f7fa;
    margin: 0 5%;
  }

  .hoangnam-testimonial-customers img {
    width: 326px;
    height: 326px;
    border-radius: 8px;
  }

  .hoangnam-testimonial-customers
    .testimonial-content
    .testimoial-right
    .testimoial-logo {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hoangnam-testimonial-customers .testimonial-content .testimoial-right p {
    color: #717171;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .hoangnam-testimonial-customers .testimonial-content .testimoial-right span {
    color: #717171;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
  }
  .hoangnam-testimonial-customers .testimonial-content .testimoial-right {
    width: 50%;
  }
  .hoangnam-testimonial-customers .testimonial-content .testimoial-right h4 {
    color: #4caf4f;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    margin: 10px 0;
  }

  .hoangnam-testimonial-customers .testimonial-content .testimoial-right a {
    color: #4caf4f;
    text-decoration: none;
  }

  /* Section hoangnam community update */
  .hoangnam-communityUpdate .communityUpdate-content {
    padding-top: 5%;
  }
  .hoangnam-communityUpdate .container {
    margin: 0 5%;
  }
  .hoangnam-communityUpdate .communityUpdate-content .content-text {
    text-align: center;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-text p {
    color: #717171;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0 30%;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-image {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-image .card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    text-align: center;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-image .card img {
    width: 100%;
    height: auto;
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card
    .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f5f7fa;
    padding: 20px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-image .card h3 {
    margin: 0;
    font-size: 18px;
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card
    .readmore {
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card:hover
    img {
    transform: scale(1.05);
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card:hover
    .card-content {
    opacity: 1;
    visibility: visible;
    color: #717171;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-image .card {
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card:hover {
    transform: translateY(-10px);
  }



  /* Section hoangnam testimonial */
  .hoangnam-testimonial-customers {
    margin-top: 50px;
  }
  .hoangnam-testimonial-customers .testimonial-content {
    display: flex;
    justify-content: space-around;
    background-color: #f5f7fa;
    margin: 0 5%;
  }

  .hoangnam-testimonial-customers img {
    width: 326px;
    height: 326px;
    border-radius: 8px;
  }

  .hoangnam-testimonial-customers
    .testimonial-content
    .testimoial-right
    .testimoial-logo {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hoangnam-testimonial-customers .testimonial-content .testimoial-right p {
    color: #717171;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .hoangnam-testimonial-customers .testimonial-content .testimoial-right span {
    color: #717171;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
  }
  .hoangnam-testimonial-customers .testimonial-content .testimoial-right {
    width: 50%;
  }
  .hoangnam-testimonial-customers .testimonial-content .testimoial-right h4 {
    color: #4caf4f;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    margin: 10px 0;
  }

  .hoangnam-testimonial-customers .testimonial-content .testimoial-right a {
    color: #4caf4f;
    text-decoration: none;
  }

  /* Section hoangnam community update */
  .hoangnam-communityUpdate .communityUpdate-content {
    padding-top: 5%;
  }
  .hoangnam-communityUpdate .container {
    margin: 0 5%;
  }
  .hoangnam-communityUpdate .communityUpdate-content .content-text {
    text-align: center;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-text p {
    color: #717171;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0 30%;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-image {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-image .card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    text-align: center;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-image .card img {
    width: 100%;
    height: auto;
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card
    .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f5f7fa;
    padding: 20px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-image .card h3 {
    margin: 0;
    font-size: 18px;
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card
    .readmore {
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card:hover
    img {
    transform: scale(1.05);
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card:hover
    .card-content {
    opacity: 1;
    visibility: visible;
    color: #717171;
  }

  .hoangnam-communityUpdate .communityUpdate-content .content-image .card {
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .hoangnam-communityUpdate
    .communityUpdate-content
    .content-image
    .card:hover {
    transform: translateY(-10px);
  }



